*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(172, 167, 167, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counter > *:not(:last-child){
    margin-bottom: .3em;
}

.counter-header{
    font-size: 3rem;
    color: rgba(104, 29, 29, 0.479);
}

.counter-number{
    font-size: 3rem;
    color: #222;
    font-weight: bolder;
}

.counter-btn{
    background-color: transparent;
    border: 1px solid rgba(104, 29, 29, 0.479);
    border-radius: 10px;
    padding: .1em 1em;
    cursor: pointer;
    font-size: .6rem;
    text-transform: uppercase;
    user-select: none;
}

.counter-btn:hover{
    outline: 3px solid rgba(108, 90, 141, 0.479);
}